@model ContraVoucherModel

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.VoucherNo, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.VoucherNo)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.VoucherDate, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.VoucherDate)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.StatusId, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.StatusName)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.CurrencyId, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.CurrencyCode)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.ExchangeRate, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.ExchangeRate)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.ChequeNo, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.ChequeNo)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.ChequeDate, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.ChequeDate)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.AmountFc, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.AmountFc, new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.AmountFcInWord, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.AmountFcInWord)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.CreditAmountFc, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.CreditAmountFc, new { @class = "form-control form-control-sm" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.DebitAmountFc, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.DebitAmountFc, new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.Narration, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.Narration)
                </div>
            </div>

        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //$('.decimal-two-scale').autoNumeric('init', { vMin: '-999999999999999.999', vMax: '999999999999999.999' });
    });

    // edit voucher master.
    function fnEditVoucherMaster(contraVoucherId) {
        var model = { contraVoucherId: contraVoucherId };
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("EditVoucherMaster", "ContraVoucher")', 'html', model,
        function (data) {
            $('#modal-voucher').empty();
            $('#modal-voucher').html(data).modal('show');
            return false;
        }, 
        function (XMLHttpRequest, textStatus, errorThrown) {
            errorCallback(XMLHttpRequest, textStatus, errorThrown);
        }, 
        true, null, false);
    }

</script>
