@model LedgerFinancialYearBalanceModel

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Update Ledger Balance</h5> 
            <button type="button" class="close btn-default" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <form id="frmUpdateLedgerBalance" class="width100" method="post"
              asp-action="SaveUpdateLedgerBalance" asp-controller="Ledger" asp-area="Accounts"
              data-ajax-begin="return BeginUpdateLedgerBalance();" data-ajax-success="SuccessUpdateLedgerBalance"
              data-ajax="true" data-ajax-method="post">

            <div class="modal-body">
                @Html.HiddenFor(model => model.LedgerBalanceId)
                @Html.HiddenFor(model => model.LedgerId)
                @Html.HiddenFor(model => model.CompanyId)
                @Html.HiddenFor(model => model.FinancialYearId)

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CreditAmountOpBal)
                            @Html.TextBoxFor(model => model.CreditAmountOpBal, new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(model => model.CreditAmountOpBal, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DebitAmountOpBal)
                            @Html.TextBoxFor(model => model.DebitAmountOpBal, new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(model => model.DebitAmountOpBal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Back"><i class="fas fa-arrow-left"></i> Back</button>
                <button type="submit" class="btn btn-primary" title="Save"><i class="fas fa-save"></i> Save</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

    }); //document ready

    // begin form
    function BeginUpdateLedgerBalance() {
        var form = $("#frmUpdateLedgerBalance");
        $(form).removeData("validator").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse($(form));
        var validator = $(form).validate();
        var isModelValid = $(form).valid();
        if (false == isModelValid) {
            validator.focusInvalid();
            return false;
        }

        var isValid = true;

        if (parseFloat($("#CreditAmountOpBal").val()) != 0 && parseFloat($("#DebitAmountOpBal").val()) != 0) {
            alert("You can not enter both credit amount & debit amount. Please enter either credit amount or debit amount.");
            $("#CreditAmountOpBal").focus();
            isValid = false;
            return false;
        }

        if (isValid == false) {
            return false;
        }
    }
    // success form
    function SuccessUpdateLedgerBalance(data) {

        if (data.Result.Status) {
            $('#modal-ledger').modal('hide');
            fnSuccessNotify('Record saved sucessfully.');

             var tabUrl = '@Url.Action("ManageLedger", "Ledger")?ledgerId=' + data.Result.Data;
            window.location.href = tabUrl;
        }
        else {
            fnDangerNotify('Error occured while processing request.');
            return false;
        }
    }
</script>

<style type="text/css">
    .modal-body {
        height: 250px;
        overflow-y: auto;
    }

    @@media (min-height: 500px) {
        .modal-body {
            height: 400px;
        }
    }

    @@media (min-height: 800px) {
        .modal-body {
            height: 600px;
        }
    }
</style>
