@model LedgerModel

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.LedgerCode, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.LedgerCode)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.LedgerName, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.LedgerName)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.ParentGroupId, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.ParentGroupName)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.IsGroup, new { @class = "font-weight-bold" }) :
                    @Html.CheckBoxFor(model => model.IsGroup, new { @class = "", @disabled = "disabled" })
                </div>
            </div>
            <div class="col-sm-4">
                @* <div class="form-group-sm">
                    @Html.LabelFor(model => model.IsMasterGroup, new { @class = "font-weight-bold" }) :
                    @Html.CheckBoxFor(model => model.IsMasterGroup, new { @class = "", @disabled = "disabled" })

                    </div>*@
                @Html.HiddenFor(model => model.IsMasterGroup)

            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.TaxRegisteredNo, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.TaxRegisteredNo)
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.Description, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.CreditAmountOpBal, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.CreditAmountOpBal)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.DebitAmountOpBal, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.DebitAmountOpBal)
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-sm-4">
            <div class="form-group-sm">
            @Html.LabelFor(model => model.CompanyList, new { @class = "font-weight-bold" }) :
            @Html.DisplayFor(model => model.CompanyList)
            </div>
            </div>
            <div class="col-sm-4">

            </div>
            </div>*@
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

    });


</script>
