@model LedgerModel

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.LedgerCode, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.LedgerCode)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.LedgerName, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.LedgerName)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.CreditAmountOpBal, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.CreditAmountOpBal)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.DebitAmountOpBal, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.DebitAmountOpBal)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.ParentGroupId, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.ParentGroupName)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.TaxRegisteredNo, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.TaxRegisteredNo)
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

    });

    // edit ledger master.
    function fnEditMaster(ledgerId) {
        var model = { ledgerId: ledgerId };
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("EditLedgerMaster", "Ledger")', 'html', model,
        function (data) {
            $('#modal-ledger').empty();
            $('#modal-ledger').html(data).modal('show');
            return false;
        }, null, true, null, false);
    }


</script>
