@model DebitNoteDetailModel

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            @if (Model.DebitNoteDetId > 0)
            {
                <h4 class="modal-title">Edit DebitNote Detail</h4>
            }
            else
            {
                <h4 class="modal-title">Add DebitNote Detail</h4>
            }
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="frmDebitNoteDetail" class="width100" method="post"
              asp-action="SaveDebitNoteDetail" asp-controller="DebitNoteDetail" asp-area="Accounts"
              data-ajax-begin="return BeginDebitNoteDetail();" data-ajax-success="SuccessDebitNoteDetail"
              data-ajax="true" data-ajax-method="post">
            <div class="modal-body">
                @Html.HiddenFor(model => model.DebitNoteDetId)
                @Html.HiddenFor(model => model.DebitNoteId)
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SrNo, new { @class = "required" })
                                @Html.TextBoxFor(model => model.SrNo, new { @class = "form-control form-control-sm" })
                                @Html.ValidationMessageFor(model => model.SrNo)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "required" })
                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control form-control-sm" })
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Quantity, new { @class = "required" })
                                @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control form-control-sm decimal-two-scale" })
                                @Html.ValidationMessageFor(model => model.Quantity)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UnitOfMeasurementId, new { @class = "required" })
                                @Html.DropDownListFor(model => model.UnitOfMeasurementId, new SelectList(ViewBag.UnitOfMeasurementList, "Value", "DisplayText"), "Select", new { @class = "form-control form-control-sm" })
                                @Html.ValidationMessageFor(model => model.UnitOfMeasurementId)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PerUnit, new { @class = "required" })
                                @Html.TextBoxFor(model => model.PerUnit, new { @class = "form-control form-control-sm" })
                                @Html.ValidationMessageFor(model => model.PerUnit)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UnitPrice, new { @class = "required" })
                                @Html.TextBoxFor(model => model.UnitPrice, new { @class = "form-control form-control-sm decimal-two-scale" })
                                @Html.ValidationMessageFor(model => model.UnitPrice)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.GrossAmountFc)
                                @Html.TextBoxFor(model => model.GrossAmountFc, new { @class = "form-control form-control-sm", @readonly = "@readonly" })
                                @Html.ValidationMessageFor(model => model.GrossAmountFc)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.GrossAmount)
                                @Html.TextBoxFor(model => model.GrossAmount, new { @class = "form-control form-control-sm", @readonly = "@readonly" })
                                @Html.ValidationMessageFor(model => model.GrossAmount)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TaxAmountFc)
                                @Html.TextBoxFor(model => model.TaxAmountFc, new { @class = "form-control form-control-sm", @readonly = "@readonly" })
                                @Html.ValidationMessageFor(model => model.TaxAmountFc)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TaxAmount)
                                @Html.TextBoxFor(model => model.TaxAmount, new { @class = "form-control form-control-sm", @readonly = "@readonly" })
                                @Html.ValidationMessageFor(model => model.TaxAmount)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NetAmountFc)
                                @Html.TextBoxFor(model => model.NetAmountFc, new { @class = "form-control form-control-sm", @readonly = "@readonly" })
                                @Html.ValidationMessageFor(model => model.NetAmountFc)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NetAmount)
                                @Html.TextBoxFor(model => model.NetAmount, new { @class = "form-control form-control-sm", @readonly = "@readonly" })
                                @Html.ValidationMessageFor(model => model.NetAmount)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Cancel">Cancel</button>
                <button type="submit" class="btn btn-primary" title="Submit">Save</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.decimal-two-scale').autoNumeric('init', { vMin: '-999999999999999.99', vMax: '999999999999999.99' });
    });

    // begin form
    function BeginDebitNoteDetail() {
        var form = $("#frmDebitNoteDetail");
        $(form).removeData("validator").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse($(form));
        var validator = $(form).validate();
        var isModelValid = $(form).valid();
        if (false == isModelValid) {
            validator.focusInvalid();
            return false;
        }
    }
    // success form
    function SuccessDebitNoteDetail(data) {
        if (data.Result.Status) {
            $('#modal-debitnote').modal('hide');
            fnSuccessNotify('Record saved sucessfully.');
            $("#debitNoteDetailGrid").DataTable().ajax.reload();
        }
        else {
            fnDangerNotify('Error occured while processing request.');
            return false;
        }
    }
</script>
