
<div class="row">
    <div class="col-sm-12">
        <table id="debitNoteDetailGrid" class="table table-bordered table-striped w-100">
            <thead>
                <tr class="table-header">
                    <th class="no-sort">
                        <button class="btn btn-primary mr-1 pr-1 pl-1 pb-0 pt-0" type="button" id="add-new-debitnote-dtl" title="Add New Line">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                    <th>DebitNoteDetId</th>
                    <th>Sr No</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>UOM</th>
                    <th>Per Unit</th>
                    <th>Unit Price</th>
                    <th>Gross Amount FC</th>
                    <th>Tax Amount FC</th>
                    <th>Net Amount FC</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#debitNoteDetailGrid").DataTable({
            "pageLength": 25,
            "paging": false,
            "searching": false,
            "info": false,
            "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-4'i><'col-sm-4 text-center'><'col-sm-4'p>>",
            "bPaginate": true,
            "scrollX": true,
            "ajax": {
                "url": "@Url.Action("GetDebitNoteDetailList", "DebitNoteDetail", new { debitNoteId = ViewBag.DebitNoteId })",
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                {
                    "orderable": false,
                    "render": function (data, type, full, meta) {
                        var control = '<div class="action_button">' +
                            '<button type="button" class="border-0 rounded-0 text-success" title="Edit" onclick="javascript: fnEditDebitNoteDetail(' + full.DebitNoteDetId + ')"><i class="far fa-edit"></i></button>' +
                            '<button type="button" class="border-0 rounded-0 text-danger" data-toggle="modal" title="Delete" onclick="javascript: fnDeleteDebitNoteDetail(this, ' + full.DebitNoteDetId + ')"><i class="fa fa-trash-alt"></i></button>';

                            if(full.IsTaxDetVisible == true) {
                                control = control + '<button type="button" class="border-0 rounded-0" title="Tax Details" onclick="javascript: fnDebitNoteTaxDetail(' + full.DebitNoteDetId + ')"><i class="fa fa-info-circle"></i></button>';
                            }

                        control = control +'</div>';

                        return control;
                    }
                },
                { "data": "DebitNoteDetId", "name": "DebitNoteDetId", "visible": false  },
                { "data": "SrNo", "name": "SrNo" },
                { "data": "Description", "name": "Description" },
                { "data": "Quantity", "name": "Quantity", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                { "data": "UnitOfMeasurementName", "name": "UOM" },
                { "data": "PerUnit", "name": "Per Unit" },
                { "data": "UnitPrice", "name": "Unit Price", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                { "data": "GrossAmountFc", "name": "GrossAmount_FC", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                { "data": "TaxAmountFc", "name": "TaxAmount_FC", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                { "data": "NetAmountFc", "name": "NetAmount_FC", render: $.fn.dataTable.render.number(',', '.', 2, '') }
            ],
        });
    });

    // add new debitnote detail.
    $('#add-new-debitnote-dtl').click(function () {
        var model = { debitNoteId: '@ViewBag.DebitNoteId' };
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("AddDebitNoteDetail", "DebitNoteDetail")', 'html', model,
        function (data) {
            $('#modal-debitnote').empty();
            $('#modal-debitnote').html(data).modal('show');
            return false;
        }, 
        function (XMLHttpRequest, textStatus, errorThrown) {
            errorCallback(XMLHttpRequest, textStatus, errorThrown);
        }, true, null, false);
    });

    // edit debitnote detail.
    function fnEditDebitNoteDetail(debitNoteDetId) {
        var model = { debitNoteDetId: debitNoteDetId };

        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("EditDebitNoteDetail", "DebitNoteDetail")', 'html', model,
        function (data) {
            $('#modal-debitnote').empty();
            $('#modal-debitnote').html(data).modal('show');
            return false;
        }, 
        function (XMLHttpRequest, textStatus, errorThrown) {
            errorCallback(XMLHttpRequest, textStatus, errorThrown);
        }, true, null, false);
    }

    // debitnote tax deatil.
    function fnDebitNoteTaxDetail(debitNoteDetId) {
        var model = { debitNoteDetId: debitNoteDetId };
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("DebitNoteTaxDetail", "DebitNoteTaxDetail")', 'html', model,
        function (data) {
            $('#modal-debitnote').empty();
            $('#modal-debitnote').html(data).modal('show');
            return false;
        }, 
        function (XMLHttpRequest, textStatus, errorThrown) {
            errorCallback(XMLHttpRequest, textStatus, errorThrown);
        }, true, null, false);
    }
</script>

@{ await Html.RenderPartialAsync("_ConfirmDeleteDebitNoteDetail"); }