@model CreditNoteModel

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.CreditNoteNo, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.CreditNoteNo)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.CreditNoteDate, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.CreditNoteDate)
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.PartyReferenceNo, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.PartyReferenceNo)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.PartyLedgerId, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.PartyLedgerName)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.BillToAddressId, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.BillToAddress)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.PartyReferenceDate, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.PartyReferenceDate)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.AccountLedgerId, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.AccountLedgerName)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.PaymentTerm, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.PaymentTerm)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.CreditLimitDays, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.CreditLimitDays)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm" ">
                    @Html.LabelFor(model => model.CurrencyId, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.CurrencyCode)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm" ">
                    @Html.LabelFor(model => model.ExchangeRate, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.ExchangeRate)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm" ">
                    @Html.LabelFor(model => model.TotalLineItemAmountFc, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.TotalLineItemAmountFc)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.DiscountPercentageOrAmount, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.DiscountPercentageOrAmount)
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.DiscountPerOrAmountFc, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.DiscountPerOrAmountFc)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.DiscountAmountFc, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.DiscountAmountFc)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.StatusId, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.StatusName)
                </div>
            </div>
            <div class="col-sm-4">

            </div>

            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.GrossAmountFc, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.GrossAmountFc)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.TaxModelType, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.TaxModelType)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.TaxRegisterId, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.TaxRegisterName)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.TaxAmountFc, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.TaxAmountFc)
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.NetAmountFcInWord, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.NetAmountFcInWord)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.NetAmountFc, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.NetAmountFc)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.Remark, new { @class = "font-weight-bold" }) :
                    @Html.DisplayFor(model => model.Remark)
                </div>
            </div>
        </div>
       
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

    });

    // edit creditnote master.
    function fnEditMaster(creditNoteId) {
        var model = { creditNoteId: creditNoteId };
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("EditCreditNoteMaster", "CreditNote")', 'html', model,
        function (data) {
            $('#modal-creditnote').empty();
            $('#modal-creditnote').html(data).modal('show');
            return false;
        }, 
        function (XMLHttpRequest, textStatus, errorThrown) {
            errorCallback(XMLHttpRequest, textStatus, errorThrown);
        }, 
        true, null, false);
    }

</script>
