@model SearchFilterCreditNoteModel
@{ ViewBag.Title = "Credit Note List"; }

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h5>@ViewBag.Title</h5>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body p-2" id="searchFilterCriteria">
                        <div class="row">
                            <div class="col-6 col-sm-2">
                                <div class="form-group-sm">
                                    @Html.LabelFor(model => model.CreditNoteNo, new { @class = "" })
                                    @Html.TextBoxFor(model => model.CreditNoteNo, new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <div class="form-group-sm">
                                    @Html.LabelFor(model => model.PartyLedgerId, new { @class = "" })
                                    @Html.DropDownListFor(model => model.PartyLedgerId, new SelectList(ViewBag.PartyList, "Value", "DisplayText"), "Select", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <div class="form-group-sm">
                                    @Html.LabelFor(model => model.FromDate)
                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control form-control-sm", autocomplete = "off", @placeholder = "DD/MMM/YYYY" })
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <div class="form-group-sm">
                                    @Html.LabelFor(model => model.ToDate)
                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control form-control-sm", autocomplete = "off", @placeholder = "DD/MMM/YYYY" })
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <div class="form-group-sm">
                                    @Html.LabelFor(model => model.PartyReferenceNo, new { @class = "" })
                                    @Html.TextBoxFor(model => model.PartyReferenceNo, new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <div class="form-group-sm">
                                    @Html.LabelFor(model => model.AccountLedgerId, new { @class = "" })
                                    @Html.DropDownListFor(model => model.AccountLedgerId, new SelectList(ViewBag.AccountLedgerList, "Value", "DisplayText"), "Select", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 pt-2 text-right">
                                <button class="btn btn-primary" type="button" onclick="javascript: fnSearchCreditNote();">
                                    <i class="fas fa-search"></i> Search
                                </button>
                                <button class="btn btn-secondary" type="button" onclick="javascript: fnResetSearch();">
                                    <i class="fas fa-undo"></i> Reset
                                </button>
                                <button class="btn btn-primary" type="button" onclick="javascript: fnAddCreditNote();">
                                    <i class="fas fa-plus"></i> New
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="creditNoteGrid" class="table table-bordered table-striped w-100">
                    <thead>
                        <tr class="table-header">
                            <th class="no-sort"></th>
                            <th>Credit NoteId</th>
                            <th>Credit Note No</th>
                            <th>Credit Note Date</th>
                            <th>Party</th>
                            <th>Party Ref No</th>
                            <th>Party Ref Date</th>
                            <th>Currency</th>
                            <th>Net Amount FC</th>
                            <th>Status</th>
                            <th>Prepared By</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
</section>

<div id="modal-creditnote" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true"></div>

<script type="text/javascript">
    const FROM_PATTERN = 'YYYY-MM-DD HH:mm:ss.SSS';
    const TO_PATTERN = 'DD/MM/YYYY HH:mm';
    $(document).ready(function () {
        $("#creditNoteGrid").DataTable({
            "processing": true,
            "scrollX": true,
            "dom": "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-4'i><'col-sm-4 text-center'l><'col-sm-4'p>>",
            //'lrtip',
            "serverSide": true,
            "ajax": {
                "url": "@Url.Action("GetCreditNoteList", "CreditNote")",
                "type": "POST",
                "datatype": "json",
                "data": {
                    searchFilter: function () {
                        var searchFilterModel = {
                            CreditNoteNo: $('#CreditNoteNo').val(),
                            PartyLedgerId: $('#PartyLedgerId').val(),
                            FromDate: $('#FromDate').val(),
                            ToDate: $('#ToDate').val(),
                            PartyReferenceNo: $('#PartyReferenceNo').val(),
                            AccountLedgerId: $('#AccountLedgerId').val(),
                        };

                        return JSON.stringify(searchFilterModel);
                    }
                },
            },
            "columns": [
                {
                    "orderable": false ,
                    "render": function (data, type, full, meta) {
                        return '<div class="action_button">' +
                            '<button type="button" class="border-0 rounded-0 text-success" onclick="javascript: fnEditCreditNoteMaster(' + full.CreditNoteId + ')"><i class="far fa-edit"></i></button>' +
                            /*'<button type="button" class="border-0 rounded-0 text-danger" data-toggle="modal" onclick="javascript: fnDeleteCreditNoteMaster(this, ' + full.CreditNoteId + ')"><i class="fa fa-trash-alt"></i></button>' +*/
                            '</div>';
                    }
                },
                { "data": "CreditNoteId", "name": "CreditNoteId", "visible": false },
                { "data": "CreditNoteNo", "name": "CreditNoteNo" },
                {
                    "data": "CreditNoteDate", "name": "CreditNoteDate",
                    "render": function (dt) {
                        return moment(dt).format("DD/MMM/YYYY");
                    }
                },
                { "data": "PartyLedgerName", "name": "PartyLedgerName" },
                { "data": "PartyReferenceNo", "name": "PartyReferenceNo" },
                {
                    "data": "PartyReferenceDate", "name": "PartyReferenceDate",
                    "render": function (dt) {
                        return moment(dt).format("DD/MMM/YYYY");
                    }
                },
                { "data": "CurrencyCode", "name": "CurrencyCode" },
                { "data": "NetAmountFc", "name": "NetAmountFc", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                { "data": "StatusName", "name": "StatusName" },
                { "data": "PreparedByName", "name": "PreparedByName" }
            ],
        });

        $('#FromDate').datetimepicker({
            format: 'DD/MMM/YYYY',
            useCurrent: false,
            defaultDate: false, // setValue:''
            widgetPositioning: {
                horizontal: 'left',
                vertical: 'bottom'
            }

        });

        $('#ToDate').datetimepicker({
            format: 'DD/MMM/YYYY',
            useCurrent: false,
            defaultDate: false, // setValue:''
            widgetPositioning: {
                horizontal: 'left',
                vertical: 'bottom'
            }
        });
    });

    // edit creditnote.
    function fnEditCreditNoteMaster(creditNoteId) {
        window.location.href = '@Url.Action("ManageCreditNote", "CreditNote")?creditNoteId=' + creditNoteId;
    }

    // delete creditnote.
    function fnDeleteCreditNoteMaster(creditNoteId) {

    }

    // search data.
    function fnSearchCreditNote() {
        $("#creditNoteGrid").DataTable().ajax.reload();
    }

    // reset filter.
    function fnResetSearch() {
        $('#searchFilterCriteria :input[type=text]').each(function (index) {
            $(this).val('');
        });
        $('#searchFilterCriteria select').each(function (index) {
            $(this).val('');
        });

        $("#creditNoteGrid").DataTable().ajax.reload();
    }

    // new button click.
    function fnAddCreditNote() {
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("AddCreditNoteMaster", "CreditNote")', 'html', '',
        function (data) {
            $('#modal-creditnote').empty();
            $('#modal-creditnote').html(data).modal('show');
            return false;
        }, 
        function (XMLHttpRequest, textStatus, errorThrown) {
            errorCallback(XMLHttpRequest, textStatus, errorThrown);
        }, true, null, false);
    }
</script>
@{ await Html.RenderPartialAsync("_ConfirmDeleteCreditNoteMaster"); }