@using ERP.Models.Accounts.Enums;

@{ ViewBag.Title = "Payment Voucher"; }

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h5>@ViewBag.Title</h5>
            </div>
            <div class="col-sm-6">
                <div class="float-right">
                    <button type="button" class="btn btn-primary" title="Edit" onclick="javascript: fnEditVoucherMaster('@ViewBag.PaymentVoucherId');">
                        <i class="far fa-edit"></i>  Edit
                    </button>
                    @if (ViewBag.IsApprovalRequestVisible == true)
                    {
        <button type="button" class="btn btn-info" id="btn-approval-request-master" title="Approval Request" onclick="javascript: fnUpdateStatusVoucherMaster('@ViewBag.PaymentVoucherId','@DocumentStatus.ApprovalRequested');">
            <i class="fas fa-download"></i> Request
        </button>}
                    @if (ViewBag.IsApproveVisible == true)
                    {
        <button type="button" class="btn btn-info" id="btn-approve-master" title="Approve" onclick="javascript: fnUpdateStatusVoucherMaster('@ViewBag.PaymentVoucherId','@DocumentStatus.Approved');">
            <i class="far fa-calendar-check"></i> Post
        </button>}
                    <button type="button" class="btn btn-success" id="btn-print" title="Print" onclick="javascript: fnPrintVoucher('@ViewBag.PaymentVoucherId');">
                        <i class="fas fa-file-pdf"></i> Print
                    </button>
                    <button type="button" class="btn btn-secondary" title="Back" onclick="javascript: fnBackToIndex();">
                        <i class="fas fa-arrow-left"></i>  Back
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-header p-0 border-bottom-0">
                        <ul class="nav nav-tabs" id="tab-list" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="master-tab" data-toggle="tab" href="#vouchermaster" role="tab" aria-controls="vouchermaster" aria-selected="true">Master</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="detail-tab" data-toggle="tab" href="#voucherdetail" role="tab" aria-controls="voucherdetail" aria-selected="false">Detail</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="vouchermaster" role="tabpanel" aria-labelledby="master-tab"></div>
                            <div class="tab-pane fade" id="voucherdetail" role="tabpanel" aria-labelledby="detail-tab"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="modal-voucher" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true"></div>
<div id="modal-voucher-detail" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tab-list li:first-child a').tab('show');
    });

    // back to index voucher.
    function fnBackToIndex() {
        window.location.href = '@Url.Action("Index", "PaymentVoucher")';
    }

    // back to print voucher.
    function fnPrintVoucher() {
        alert("Print");
    }

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var tabPanel = $(e.target).attr('aria-controls'), tabUrl = null;
        switch ($(e.target).attr('aria-controls')) {
            case 'vouchermaster':
                tabUrl = '@Url.Action("ViewVoucherMaster", "PaymentVoucher", new { paymentVoucherId = ViewBag.PaymentVoucherId })';
                break;
            case 'voucherdetail':
                tabUrl = '@Url.Action("VoucherDetail", "PaymentVoucherDetail", new { paymentVoucherId = ViewBag.PaymentVoucherId, addRow_Blank=0 })';
                break;
            default:
                break;
        }
        $('#' + tabPanel).empty();
        $('#' + tabPanel).load(tabUrl);
    });

    // edit voucher master.
    function fnUpdateStatusVoucherMaster(paymentVoucherId, action) {
        var model = {
            paymentVoucherId: paymentVoucherId,
            action: action
        };
        AjaxCommunication.CreateRequest(this.window, 'Post', '@Url.Action("UpdateStatusVoucherMaster", "PaymentVoucher")', 'html', model,
        function (data) {
            if (data.Result.Status) {
                fnSuccessNotify('Status updated sucessfully.');
                var tabUrl = '@Url.Action("ManageVoucher", "PaymentVoucher")?paymentVoucherId=' + data.Result.Data;
                window.location.href = tabUrl;
                return false;
            }
            else {
                fnDangerNotify(data.Result.Data);
                return false;
            }
        }, null, true, null, false);
    }


</script>
