@{ ViewBag.Title = "Manage Voucher"; }

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Payment Voucher</h1>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-secondary float-right" title="Back" onclick="javascript: fnBackToIndex();">
                    <i class="fas fa-arrow-left"></i>  Back
                </button>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-header p-0 border-bottom-0">
                        <ul class="nav nav-tabs" id="tab-list" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="master-tab" data-toggle="tab" href="#vouchermaster" role="tab" aria-controls="vouchermaster" aria-selected="true">Master</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="detail-tab" data-toggle="tab" href="#voucherdetail" role="tab" aria-controls="voucherdetail" aria-selected="false">Detail</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="vouchermaster" role="tabpanel" aria-labelledby="master-tab"></div>
                            <div class="tab-pane fade" id="voucherdetail" role="tabpanel" aria-labelledby="detail-tab"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="modal-voucher" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true"></div>
<div id="modal-voucher-detail" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tab-list li:first-child a').tab('show');
    });

        // back to index voucher.
    function fnBackToIndex() {
        window.location.href = '@Url.Action("Index", "PaymentVoucher")';
    }

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

        var tabPanel = $(e.target).attr('aria-controls'), tabUrl = null;
        switch ($(e.target).attr('aria-controls')) {
            case 'vouchermaster':
                tabUrl = '@Url.Action("ViewVoucherMaster", "PaymentVoucher", new { paymentVoucherId = ViewBag.PaymentVoucherId })';
                break;
            case 'voucherdetail':
                tabUrl = '@Url.Action("VoucherDetail", "PaymentVoucherDetail", new { paymentVoucherId = ViewBag.PaymentVoucherId })';
                break;
            default:
                break;
        }
        $('#' + tabPanel).empty();
        $('#' + tabPanel).load(tabUrl);
    });


    @*$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            //Custom attribute data_id is used to store the ID
            //Get the ID

        var tabPanel = $(e.target).attr('aria-controls');
        var tabUrl = null;
        var param = null;

        switch (tabPanel) {
            case 'vouchermaster':
                tabUrl = '@Url.Action("ViewVoucherMaster", "PaymentVoucher", new { paymentVoucherId = ViewBag.PaymentVoucherId })';
                param = JSON.stringify({ paymentVoucherId: '@ViewBag.PaymentVoucherId' });
                break;
            case 'voucherdetail':
                tabUrl = '@Url.Action("VoucherDetail", "PaymentVoucherDetail")';
                param = JSON.stringify({ paymentVoucherId: '@ViewBag.PaymentVoucherId' });
                break;
            default:
                break;
        }

        //console.log(tabPanel);
        //console.log(tabUrl);
        console.log(param);

        param = "@ViewBag.PaymentVoucherId"

        console.log(param);

        $.ajax({
            url: tabUrl,
            type: "post",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //success
                console.log("data" + data);
                $('#' + tabPanel).html(padataram); //populate the tab content.
            },
            error: function () {
                alert("error");
            }
        });

    });*@


</script>
