@model SearchFilterPurchaseInvoiceModel
@{ ViewBag.Title = "Purchase Invoice List"; }

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h5>@ViewBag.Title</h5>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card m-0">
                    <div class="card-body p-2" id="searchFilterCriteria">
                        <div class="row">
                            <div class="col-6 col-sm-2">
                                <div class="form-group-sm">
                                    @Html.LabelFor(model => model.InvoiceNo, new { @class = "" })
                                    @Html.TextBoxFor(model => model.InvoiceNo, new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <div class="form-group-sm">
                                    @Html.LabelFor(model => model.SupplierLedgerId, new { @class = "" })
                                    @Html.DropDownListFor(model => model.SupplierLedgerId, new SelectList(ViewBag.SupplierList, "Value", "DisplayText"), "Select", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <div class="form-group-sm">
                                    @Html.LabelFor(model => model.FromDate)
                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control form-control-sm", autocomplete = "off", @placeholder = "DD/MMM/YYYY" })
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <div class="form-group-sm">
                                    @Html.LabelFor(model => model.ToDate)
                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control form-control-sm", autocomplete = "off", @placeholder = "DD/MMM/YYYY" })
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <div class="form-group-sm">
                                    @Html.LabelFor(model => model.SupplierReferenceNo, new { @class = "" })
                                    @Html.TextBoxFor(model => model.SupplierReferenceNo, new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <div class="form-group-sm">
                                    @Html.LabelFor(model => model.AccountLedgerId, new { @class = "" })
                                    @Html.DropDownListFor(model => model.AccountLedgerId, new SelectList(ViewBag.AccountLedgerList, "Value", "DisplayText"), "Select", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 pt-2 text-right">
                                <button class="btn btn-primary" type="button" onclick="javascript: fnSearchInvoice();">
                                    <i class="fas fa-search"></i> Search
                                </button>
                                <button class="btn btn-secondary" type="button" onclick="javascript: fnResetSearch();">
                                    <i class="fas fa-undo"></i> Reset
                                </button>
                                <button class="btn btn-primary" type="button" onclick="javascript: fnAddInvoice();">
                                    <i class="fas fa-plus"></i> New
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @*<div class="col-sm-12 table-responsive">*@
                    <table id="purchaseInvoiceGrid" class="table table-bordered table-striped w-100">
                        <thead>
                            <tr class="table-header">
                                <th class="no-sort"></th>
                                <th>PurchaseInvoiceId</th>
                                <th>Invoice No</th>
                                <th>Invoice Date</th>
                                <th>Supplier</th>
                                <th>Supplier Ref No</th>
                                <th>Supplier Ref Date</th>
                                <th>Currency</th>
                                <th>Net Amount FC</th>
                                <th>Status</th>
                                <th>Prepared By</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
    </div>
</section>

<div id="modal-invoice" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true"></div>

<script type="text/javascript">
    const FROM_PATTERN = 'YYYY-MM-DD HH:mm:ss.SSS';
    const TO_PATTERN = 'DD/MM/YYYY HH:mm';
    $(document).ready(function () {
        $("#purchaseInvoiceGrid").DataTable({
            "processing": true,
            "scrollX": true,
            "dom": "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-4'i><'col-sm-4 text-center'l><'col-sm-4'p>>",
            //'lrtip',
            "serverSide": true,
            "ajax": {
                "url": "@Url.Action("GetPurchaseInvoiceList", "PurchaseInvoice")",
                "type": "POST",
                "datatype": "json",
                "data": {
                    searchFilter: function () {
                        var searchFilterModel = {
                            InvoiceNo: $('#InvoiceNo').val(),
                            SupplierLedgerId: $('#SupplierLedgerId').val(),
                            FromDate: $('#FromDate').val(),
                            ToDate: $('#ToDate').val(),
                            SupplierReferenceNo: $('#SupplierReferenceNo').val(),
                            AccountLedgerId: $('#AccountLedgerId').val(),
                        };

                        return JSON.stringify(searchFilterModel);
                    }
                },
            },
            "columns": [
                {
                    "orderable": false ,
                    "render": function (data, type, full, meta) {
                        return '<div class="action_button">' +
                            '<button type="button" class="border-0 rounded-0 text-success" onclick="javascript: fnEditInvoiceMaster(' + full.PurchaseInvoiceId + ')"><i class="far fa-edit"></i></button>' +
                            /*'<button type="button" class="border-0 rounded-0 text-danger" data-toggle="modal" onclick="javascript: fnDeleteInvoiceMaster(this, ' + full.PurchaseInvoiceId + ')"><i class="fa fa-trash-alt"></i></button>' +*/
                            '</div>';
                    }
                },
                { "data": "PurchaseInvoiceId", "name": "PurchaseInvoiceId", "visible": false },
                { "data": "InvoiceNo", "name": "InvoiceNo" },
                {
                    "data": "InvoiceDate", "name": "InvoiceDate",
                    "render": function (dt) {
                        return moment(dt).format("DD/MMM/YYYY");
                    }
                },
                { "data": "SupplierLedgerName", "name": "SupplierLedgerName" },
                { "data": "SupplierReferenceNo", "name": "SupplierReferenceNo" },
                {
                    "data": "SupplierReferenceDate", "name": "SupplierReferenceDate",
                    "render": function (dt) {
                        return moment(dt).format("DD/MMM/YYYY");
                    }
                },
                { "data": "CurrencyCode", "name": "CurrencyCode" },
                { "data": "NetAmountFc", "name": "NetAmountFc", render: $.fn.dataTable.render.number(',', '.', 4, '') },
                { "data": "StatusName", "name": "StatusName" },
                { "data": "PreparedByName", "name": "PreparedByName" }
            ],
        });

        $('#FromDate').datetimepicker({
            format: 'DD/MMM/YYYY',
            useCurrent: false,
            defaultDate: false, // setValue:''
            widgetPositioning: {
                horizontal: 'left',
                vertical: 'bottom'
            }

        });

        $('#ToDate').datetimepicker({
            format: 'DD/MMM/YYYY',
            useCurrent: false,
            defaultDate: false, // setValue:''
            widgetPositioning: {
                horizontal: 'left',
                vertical: 'bottom'
            }
        });
    });

    // edit invoice.
    function fnEditInvoiceMaster(purchaseInvoiceId) {
        window.location.href = '@Url.Action("ManageInvoice", "PurchaseInvoice")?purchaseInvoiceId=' + purchaseInvoiceId;
    }

    // delete invoice.
    function fnDeleteInvoiceMaster(purchaseInvoiceId) {

    }

    // search data.
    function fnSearchInvoice() {
        $("#purchaseInvoiceGrid").DataTable().ajax.reload();
    }

    // reset filter.
    function fnResetSearch() {
        $('#searchFilterCriteria :input[type=text]').each(function (index) {
            $(this).val('');
        });
        $('#searchFilterCriteria select').each(function (index) {
            $(this).val('');
        });

        $("#purchaseInvoiceGrid").DataTable().ajax.reload();
    }

    // new button click.
    function fnAddInvoice() {
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("AddInvoiceMaster", "PurchaseInvoice")', 'html', '',
        function (data) {
            $('#modal-invoice').empty();
            $('#modal-invoice').html(data).modal('show');
            return false;
        }, 
        function (XMLHttpRequest, textStatus, errorThrown) {
            errorCallback(XMLHttpRequest, textStatus, errorThrown);
        }, true, null, false);
    }
</script>
@{ await Html.RenderPartialAsync("_ConfirmDeleteInvoiceMaster"); }