
<div class="row">
    <div class="col-sm-12">
        <table id="salesInvoiceDetailGrid" class="table table-bordered table-striped w-100">
            <thead>
                <tr class="table-header">
                    <th class="no-sort">
                        <button class="btn btn-primary mr-1 pr-1 pl-1 pb-0 pt-0" type="button" id="add-new-invoice-dtl" title="Add New Line">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                    <th>SalesInvoiceDetId</th>
                    <th>Sr No</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>UOM</th>
                    <th>Per Unit</th>
                    <th>Unit Price</th>
                    <th>Gross Amount FC</th>
                    <th>Tax Amount FC</th>
                    <th>Net Amount FC</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#salesInvoiceDetailGrid").DataTable({
            "pageLength": 25,
            "paging": false,
            "searching": false,
            "info": false,
            "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-4'i><'col-sm-4 text-center'><'col-sm-4'p>>",
            "bPaginate": true,
            "scrollX": true,
            "ajax": {
                "url": "@Url.Action("GetSalesInvoiceDetailList", "SalesInvoiceDetail", new { salesInvoiceId = ViewBag.SalesInvoiceId })",
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                {
                    "orderable": false,
                    "render": function (data, type, full, meta) {
                        var control = '<div class="action_button">' +
                            '<button type="button" class="border-0 rounded-0 text-success" title="Edit" onclick="javascript: fnEditInvoiceDetail(' + full.SalesInvoiceDetId + ')"><i class="far fa-edit"></i></button>' +
                            '<button type="button" class="border-0 rounded-0 text-danger" data-toggle="modal" title="Delete" onclick="javascript: fnDeleteInvoiceDetail(this, ' + full.SalesInvoiceDetId + ')"><i class="fa fa-trash-alt"></i></button>';

                        if (full.IsTaxDetVisible == true) {
                            control = control + '<button type="button" class="border-0 rounded-0" title="Tax Details" onclick="javascript: fnInvoiceTaxDetail(' + full.SalesInvoiceDetId + ')"><i class="fa fa-info-circle"></i></button>';
                        }

                        control = control + '</div>';

                        return control;
                    }
                },
                { "data": "SalesInvoiceDetId", "name": "SalesInvoiceDetId", "visible": false  },
                { "data": "SrNo", "name": "SrNo" },
                { "data": "Description", "name": "Description" },
                { "data": "Quantity", "name": "Quantity", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                { "data": "UnitOfMeasurementName", "name": "UOM" },
                { "data": "PerUnit", "name": "Per Unit" },
                { "data": "UnitPrice", "name": "Unit Price", render: $.fn.dataTable.render.number(',', '.', 4, '') },
                { "data": "GrossAmountFc", "name": "GrossAmount_FC", render: $.fn.dataTable.render.number(',', '.', 4, '') },
                { "data": "TaxAmountFc", "name": "TaxAmount_FC", render: $.fn.dataTable.render.number(',', '.', 4, '') },
                { "data": "NetAmountFc", "name": "NetAmount_FC", render: $.fn.dataTable.render.number(',', '.', 4, '') }
            ],
        });
    });

    // add new invoice detail.
    $('#add-new-invoice-dtl').click(function () {
        var model = { salesInvoiceId: '@ViewBag.SalesInvoiceId' };

        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("AddInvoiceDetail", "SalesInvoiceDetail")', 'html', model,
        function (data) {
            $('#modal-invoice').empty();
            $('#modal-invoice').html(data).modal('show');
            return false;
        }, null, true, null, false);
    });

    // edit invoice detail.
    function fnEditInvoiceDetail(salesInvoiceDetId) {
        var model = { salesInvoiceDetId: salesInvoiceDetId };
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("EditInvoiceDetail", "SalesInvoiceDetail")', 'html', model,
        function (data) {
            $('#modal-invoice').empty();
            $('#modal-invoice').html(data).modal('show');
            return false;
        }, null, true, null, false);
    }

    // invoice tax deatil.
    function fnInvoiceTaxDetail(salesInvoiceDetId) {
        var model = { salesInvoiceDetId: salesInvoiceDetId };
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("InvoiceTaxDetail", "SalesInvoiceTaxDetail")', 'html', model,
        function (data) {
            $('#modal-invoice').empty();
            $('#modal-invoice').html(data).modal('show');
            return false;
        }, null, true, null, false);
    }
</script>

@{ await Html.RenderPartialAsync("_ConfirmDeleteInvoiceDetail"); }