@model SalesInvoiceTaxModel

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            @if (Model.InvoiceTaxId > 0)
            {
                <div class="modal-title">Edit Invoice Tax Master</div>
            }
            else
            {
                <div class="modal-title">Add Invoice Tax Master</div>
            }
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="frmInvoiceTaxMaster" class="width100" method="post"
              asp-action="SaveInvoiceTaxMaster" asp-controller="SalesInvoiceTaxMaster" asp-area="Accounts"
              data-ajax-begin="return BeginInvoiceTaxMaster();" data-ajax-success="SuccessInvoiceTaxMaster"
              data-ajax="true" data-ajax-method="post">
            <div class="modal-body">
                @Html.HiddenFor(model => model.InvoiceTaxId)
                @Html.HiddenFor(model => model.InvoiceId)
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SrNo, new { @class = "required" })
                                @Html.TextBoxFor(model => model.SrNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SrNo)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TaxLedgerId, new { @class = "required" })
                                @Html.DropDownListFor(model => model.TaxLedgerId, new SelectList(ViewBag.TaxLedgerList, "Value", "DisplayText"), "Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TaxLedgerId)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TaxPercentageOrAmount, new { @class = "required" })
                                @Html.DropDownListFor(model => model.TaxPercentageOrAmount, new SelectList(ViewBag.DiscountTypeList, "Name", "Description"), "Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TaxPercentageOrAmount)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TaxPerOrAmountFc, new { @class = "required" })
                                @Html.TextBoxFor(model => model.TaxPerOrAmountFc, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TaxPerOrAmountFc)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TaxAddOrDeduct, new { @class = "required" })
                                @Html.DropDownListFor(model => model.TaxAddOrDeduct, new SelectList(ViewBag.TaxAddOrDeductList, "Name", "Description"), "Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TaxAddOrDeduct)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TaxAmountFc)
                                @Html.TextBoxFor(model => model.TaxAmountFc, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TaxAmountFc)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TaxAmount)
                                @Html.TextBoxFor(model => model.TaxAmount, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TaxAmount)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Remark)
                                @Html.TextBoxFor(model => model.Remark, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Remark)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-right">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Cancel">Cancel</button>
                    <button type="submit" class="btn btn-primary" title="Submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

    });

    // begin form
    function BeginInvoiceTaxMaster() {
        var form = $("#frmInvoiceTaxMaster");
        $(form).removeData("validator").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse($(form));
        var validator = $(form).validate();
        var isModelValid = $(form).valid();
        if (false == isModelValid) {
            validator.focusInvalid();
            return false;
        }
    }
    // success form
    function SuccessInvoiceTaxMaster(data) {
        if (data.Result.Status) {
            $('#modal-invoice').modal('hide');
            fnSuccessNotify('Record saved sucessfully.');
            $("#salesInvoiceTaxMasterGrid").DataTable().ajax.reload();
        }
        else {
            fnDangerNotify('Error occured while processing request.');
            return false;
        }
    }
</script>
